<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @info_polen.FECHA %>
</p>

<p>
  <b>Año:</b>
  <%= @info_polen.ANIO %>
</p>

<p>
  <b>Fecha:</b>
  <%= @info_polen.FECHA %>
</p>

<p>
  <b>Semana:</b>
  <%= @info_polen.SEMANA %>
</p>

<p>
  <b>Tipos polínicos:</b>
  <%= @info_polen.TIPOS_POLINICOS %>
</p>

<p>
  <b>Precedentes:</b>
  <%= @info_polen.PRECEDENTES %>
</p>

<p>
  <b>Previsión:</b>
  <%= @info_polen.PREVISION %>
</p>





<%= link_to 'Edit', edit_info_polen_path(@info_polen) %> |
<%= link_to 'Back', info_polens_path %>
